@using LibraryModels

@{
    ViewData["Title"] = "MasterPage";
}
<link href="~/stylesheets/masterpage.css" rel="stylesheet" />
<div class="wraper">
    <div class="controlBar">
        <header class="header">
            <section class="logo">

                <img class="logoImage" src="~/images/logo.png" />
                <p class="logoText"></p>
            </section>
            <section class="navigation">
                <p class="filterText">Navigation menu</p>
                <div class="navMenu">
                    <span class="menuItem"><a href="#" class="menulink">Start Page</a></span>
                    <span class="menuItem"><a href="http://localhost:5195/guest/BookCatalog/" class="menulink">Book Catalog</a></span>
                    <span class="menuItem"><a href="#" class="menulink">Borrows</a></span>
                    <span class="menuItem"><a href="#" class="menulink">Update Profile</a></span>
                    <span class="menuItem"><a href="#" class="menulink">Sign up</a></span>
                    <span class="menuItem"><a href="#" class="menulink">Logout</a></span>
                    <span class="menuItem"><a href="#" class="menulink">Sign in</a></span>
                    <span class="menuItem"><a href="#" class="menulink">External library</a></span>

                </div>
            </section>
             @if (Model != null && Model is CatalogViewModel)
             {
                <section class="authorFilter">
                    <p class="filterText">Author filter</p>
                    <div class="navMenu">

                                    @foreach (Author author in Model.Authors)
                                    {
                            <span class="menuItem">
                                <span class="link" data-authorId="">
                                    <a href=http://localhost:5195/guest/BookCatalog/authorId =@author.AuthorId> @author.AuthorFirstName @author.AuthorLastName</a>
                                </span>
                            </span>
                                    }
                        }



                </section>
                <section class="ganreFilter">
                    <p class="filterText">Ganre filter</p>
                    <div class="navMenu">

                     @foreach (Ganre ganre in Model.Ganres)
                     {
                            <span class="menuItem">
                                <span class="link" data-ganreId="">
                                    <a href=http://localhost:5195/guest/BookCatalog/ganreId =@ganre.GanreId>
                                                @ganre.GanreName
                                </span>
                            </span>
                      }



                    </div>
                </section>
                        }


        </header>
        <footer class="footer">
        </footer>
    </div>
    <div class="dataBar" id="dataBar">
                        @RenderBody()
    </div>
</div>
